<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.app.appgenesis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.app.atenciondeordenes.DAOApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name="org.app.atenciondeordenes.MiServicio" />

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Administrativa"
            android:screenOrientation="portrait"/>
        <activity android:name=".Categoria"
            android:screenOrientation="portrait"/>
        <activity android:name=".Grupo"
            android:screenOrientation="portrait"/>
        <activity android:name=".Grupo2"
            android:screenOrientation="portrait"/>
        <activity android:name="org.app.atenciondeordenes.ListadoDeOrdenes"
            android:screenOrientation="portrait"/>
        <activity
            android:name="org.app.atenciondeordenes.DatosOrden"
            android:screenOrientation="portrait" />
        <activity android:name="org.app.atenciondeordenes.Main2Activity"
            android:screenOrientation="portrait"/>
        <activity android:name="org.app.atenciondeordenes.NuevaFIrma"
            android:screenOrientation="portrait"/>
        <activity android:name="org.app.atenciondeordenes.VerFirma"
            android:screenOrientation="portrait"/>
        <activity android:name="org.app.administrador_sql.MainActivityAdministradorSQL"
            android:screenOrientation="portrait"/>
        <activity android:name="org.app.administrador_sql.EntityActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="org.app.administrador_sql.DataActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SearchDatabaseTheme" />
        <activity android:name="org.app.atenciondeturnos.main.ListadoTurno"
            android:screenOrientation="portrait"></activity>
        <activity android:name="org.app.atenciondeturnos.main.DatosTurno"
            android:screenOrientation="portrait"/>
    </application>

</manifest>